
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/magicworld
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=tfg$root
MYSQL_ROOT_PASSWORD=tfg$root
MYSQL_DATABASE=magicworld
MYSQL_USER=magicuser
MYSQL_PASSWORD=RootPass123!
JWT_SECRET=TokenSecretKeyForMagicWorld #Change for hexadecimal token


SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_PROTOCOL=smtp
SPRING_MAIL_USERNAME=noreply.magicworld@gmail.com
SPRING_MAIL_PASSWORD=MagicWorldEmailPassword #Change

FRONTEND_URL=http://localhost:4200
GEMINI_API_KEY=example #Change for your Gemini API key

GOOGLE_CLIENT_ID=example.apps.googleusercontent.com #Change for your Google Client ID
GOOGLE_CLIENT_SECRET=example #Change for your Google Client Secret

STRIPE_SECRET_KEY=example #Change for your Stripe Secret Key
STRIPE_PUBLIC_KEY=example #Change for your Stripe Public Key

SENDGRID_API_KEY=example #Change for your SendGrid API Key

